@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lato:wght@300;400&family=Montserrat:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@400;500&family=Ubuntu:wght@300;400&family=Yanone+Kaffeesatz:wght@600&display=swap');
body{
    font-family: 'Heebo', sans-serif;
}






/*----------------------
 ---common styles start-----
 ----------------------- */

.margin{
    margin-left: 5%;
    margin-right: 10px;
}
.margin-top{
    margin-top: 100px;
}
a{
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px 15px;
    background-color:red;
    color: honeydew;
  
}
/*----------------------
 ---common styles end-----
 ----------------------- */
h1{
    font-size: 40px;
}
#infpr{
    margin-bottom: 70px;
  
}
.sec1 {
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
}
.page1{
    width: 50%;
}
.page1 img{

    width: 60%;
    background-image: url(images/Circle\ design.svg);
    background-size: 100%;
    margin-left: 50px;
}
}
.sec1-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 90px;
    grid-gap: 40px;
    margin-left: 300px;
   
}
header{

    text-align: center;
}
.sec2{
 
    display: grid;
grid-template-columns: repeat(3,1fr);
    
}
.page2{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5% ;
    box-shadow: 2px 2px 2px gray;
    margin: 5% 5% 10% 15%
;
}
.page2 img{
    width: 100%;
}
.sec3{
    display: flex;
}
.page3{
    width: 40%;
    margin-bottom: 30px;
}
.page3 img{
    width: 62%;
}
.fab{
    margin-right: 15px;
    margin-top: 5px;
}
.finalfooter{
    background-color: black;
    color: white;
    text-align: center;
   
    padding: 30px;
}
/*-------------------------
-- responsive part start--
--------------------------*/
@media only screen and  (max-width:1312px){
    .page1,.page2,.page3{
        width: 100%;
      text-align: center;
    }
    div#influ {
        order: 2;
    }
    div#camera {
        order: 1;
    }
    .sec1,.sec3{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
  }


@media only screen and  (max-width:992px){
    .page1,.page2,.page3{
        width: 100%;
      text-align: center;
    }
    div#influ {
        order: 2;
    }
    div#camera {
        order: 1;
    }
    .sec1,.sec2,.sec3{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }
  }

@media only screen and  (max-width:688px){
    .page1,.page2,.page3{
        width: 100%;
      text-align: center;
    }
    div#influ {
        order: 2;
    }
    div#camera {
        order: 1;
    }
    .sec1,.sec3{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
  }