@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lato:wght@300;400&family=Montserrat:wght@200;400&family=Open+Sans:wght@300&family=Poppins:wght@400;500&family=Ubuntu:wght@300;400&family=Yanone+Kaffeesatz:wght@600&display=swap');
body{
    font-family: 'Heebo', sans-serif;
}






/*----------------------
 ---common styles start-----
 ----------------------- */

.margin{
    margin-left: 5%;
    margin-right: 10px;
}
.margin-top{
    margin-top: 100px;
   
}
.a{  font-size: 20px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px 15px;
    background-color:red;
    color: honeydew;
  
}
/*----------------------
 ---common styles end-----
 ----------------------- */
 #f-p2{
     text-align: right;
     padding-right: 2%;
 }
 #a-p2{

     color: black;
     text-decoration: none;
 }
h1{
    font-size: 55px;
}
#infpr{
    margin-bottom: 70px;
    font-size: 22px;
}
.sec1 {
    display: flex;
}
.page1{
    width: 50%;
}
.page1 img{
    width: 60%;
    background-image: url(images/Circle\ design.svg);
    background-size: 100%;
    margin-left: 50px;
}
}
.sec1-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 90px;
    grid-gap: 40px;
    margin-left: 300px;
}
header{
    text-align: center;
    font-size: 22px;
}
.sec2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.page2{
    text-align: left;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15% ;
    box-shadow: 2px 2px 2px gray;
    margin: 10% 10%;
}
.page2 img{
    width: 100%;
}
.fas.fa-star{
    color:orange;
}
.p2footer{
    text-decoration: none;
    color: black;
}
.sec3{
    display: flex;
    width: 90%;
 
}
.page3{
    width: 50%;
   
}
.page3 img{
    width: 60%;
}
.fab{
    margin-right: 15px;
    margin-top: 5px;
}
.finalfooter{
    background-color: black;
    color: white;
    text-align: center;
   margin-top: 30px;
    padding: 30px;
}
/*-------------------------
-- responsive part start--
--------------------------*/

@media only screen and  (max-width:1400px){
    .page1,.page3{
        width: 100%;
      text-align: left;
    }
    .page2{
        width: 50%;
    }
    .sec1,.sec3{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
       
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
  }
  @media only screen and (min-width:689px) and (max-width:992px){
    .page1,.page3{
        width: 100%;
      text-align: center;
    }
    .page2{
        width: 50%;
    }
    div#influ {
        order: 2;
    }
    div#camera {
        order: 1;
    }
    .sec1,.sec3{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      
    }

  }

@media only screen and  (max-width:688px){
    .page1,.page3{
        width: 100%;
      text-align: center;
    }
    .page2{
        width: 50%;
    }
    div#influ {
        order: 2;
    }
    div#camera {
        order: 1;
    }
        .sec1,.sec2,.sec3{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }
  
  }




  